 
 
<h1>Resumen Almacenes</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Almacén</th>
      <th scope="col">Capacidad</th>
      <th scope="col">Espacio Ocupado</th>
      <th scope="col">Espacio Libre</th>
    </tr>
  </thead>
  <tbody>
    <%@results_root.each do |item|%>
      <tr>
        <td><%if item["_id"] == @recepcion%>
          Recepción
          <%elsif item["_id"] == @cocina%>
          Cocina
          <%elsif item["_id"] == @despacho%>
          Despacho
          <%elsif item["_id"] == @pulmon%>
          Pulmón
          <%elsif item["_id"] == @inventario1%>
          Inventario 1
          <%elsif item["_id"] == @inventario2%>
          Inventario 2
          <%end%>
        </td>
      <td><%=item["totalSpace"]%></td>
      <td><%=Logica.contar_espacio_usado(item["_id"])%></td>
      <td><%=Logica.contar_espacio_libre(item["_id"])%></td>
      </tr>
    <%end%>
  </tbody>
 </table>

<br>
<br>
<br>

<h1>Resumen Stock</h1>

 <table class="table">
  <thead>
    <tr>
      <th scope="col">SKU</th>
      <th scope="col">Name</th>
      <th scope="col">Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <%@lista_stock.each do |item|%>
      <tr>
        <td><%=item["sku"]%></td>
        <td><%=item["nombre"]%></td>
        <td><%=item["total"]%></td>
      </tr>
    <%end%>
  </tbody>
 </table>
 
<br>
<br>
<br>

 <h1>Resumen Despacho</h1>

 <table class="table">
    <thead>
    <tr>
      <th scope="col">SKU</th>
      <th scope="col">Name</th>
      <th scope="col">Cantidad</th>
    </tr>
    </thead>
    <tbody>
      <%@results_despacho.each do |item|%>
        <tr>
          <td><%=item["_id"]%></td>
          <td><%@sku_product_list.each do |s|%>
            <%if item["_id"] == s[0]%>
              <%=s[1]%>
            <%end%>
          <%end%>
          </td>
          <td><%=item["total"]%></td>
        </tr>
    <%end%>
    </tbody>
  </table>

<br>
<br>
<br>
 
<h1>Resumen Recepción</h1>

 <table class="table">
  <thead>
    <tr>
      <th scope="col">SKU</th>
      <th scope="col">Name</th>
      <th scope="col">Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <%@results_recepcion.each do |item|%>
    <tr>
      <td><%=item["_id"]%></td>
      <td><%@sku_product_list.each do |s|%>
        <%if item["_id"] == s[0]%>
          <%=s[1]%>
        <%end%>
      <%end%>
      <td><%=item["total"]%></td>
    </tr>
    <%end%>
  </tbody>
 </table>
 
<br>
<br>
<br>

<h1>Resumen Pulmón</h1>

 <table class="table">
  <thead>
    <tr>
      <th scope="col">SKU</th>
      <th scope="col">Name</th>
      <th scope="col">Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <%@results_pulmon.each do |item|%>
      <tr>
        <td><%=item["_id"]%></td>
        <td><%@sku_product_list.each do |s|%>
          <%if item["_id"] == s[0]%>
            <%=s[1]%>
          <%end%>
        <%end%>
        <td><%=item["total"]%></td>
      </tr>
    <%end%>
  </tbody>
 </table>

<br>
<br>
<br>
 
<h1>Resumen Inventario 1</h1>

 <table class="table">
 <thead>
 <tr>
    <th scope="col">SKU</th>

        <th scope="col">Name</th>

    <th scope="col">Cantidad</th>
  </tr>
</thead>
<tbody>
  <%@results_inventario1.each do |item|%>
   <tr>
    <td><%=item["_id"]%></td>
    <td><%@sku_product_list.each do |s|%>
      <%if item["_id"] == s[0]%>
        <%=s[1]%>
      <%end%>
      <%end%>
    <td><%=item["total"]%></td>
    </tr>
    <%end%>
  </tbody>
 </table>

<br>
<br>
<br>

<h1>Resumen Inventario 2</h1>

 <table class="table">
 <thead>
 <tr>
    <th scope="col">SKU</th>

        <th scope="col">Name</th>

    <th scope="col">Cantidad</th>
  </tr>
</thead>
<tbody>
  <%@results_inventario2.each do |item|%>
   <tr>
    <td><%=item["_id"]%></td>
    <td><%@sku_product_list.each do |s|%>
      <%if item["_id"] == s[0]%>
        <%=s[1]%>
      <%end%>
      <%end%>
    <td><%=item["total"]%></td>
    </tr>
    <%end%>
  </tbody>
 </table>

<br>
<br>
<br>

<h1>Resumen Cocina</h1>

 <table class="table">
 <thead>
 <tr>
    <th scope="col">SKU</th>

        <th scope="col">Name</th>

    <th scope="col">Cantidad</th>
  </tr>
</thead>
<tbody>
  <%@results_cocina.each do |item|%>
   <tr>
    <td><%=item["_id"]%></td>
    <td><%@sku_product_list.each do |s|%>
      <%if item["_id"] == s[0]%>
        <%=s[1]%>
      <%end%>
      <%end%>
    <td><%=item["total"]%></td>
    </tr>
    <%end%>
  </tbody>
 </table>