<!DOCTYPE html>
<html>
  <head>
    <title>TIApi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

  </head>

  <body>
    <div class="pull-left">
      <span><%= alert %></span>
    </div>
    <%= yield %>
  </body>
</html>
